In [2]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv('train_ajEneEa.csv')

In [7]:
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,52800,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,41413,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,15266,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,28674,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0

In [12]:
df_gender=pd.get_dummies(df['gender'])
df_ever_married=pd.get_dummies(df['ever_married'])

df_work_type=pd.get_dummies(df['work_type'])
df_Residence_type=pd.get_dummies(df['Residence_type'])
df_smoking_status=pd.get_dummies(df['smoking_status'])

In [14]:
pd.drop(['gender','ever_married','work_type','Residence_type','smoking_status'])

AttributeError: module 'pandas' has no attribute 'drop'